body {
    text-align: center;
}

#grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    gap: 0.25vh 0.25vh;

}

.grid-item {
    background-color: gray;
    height: 6.25vh;
    width: 6.25vh;
}






/* -----circle-----   */

.circle__box {
    width: 6.25vh;       /* 6.25 */
    height: 6.25vh;      /* 6.25 */
    /*margin: 1.5625vh auto;  /* 1.5625 */
    position: relative;
  }
  
  .circle__wrapper {
    width: 3.125vh;       /* 3.125 */
    height: 6.25vh;      /* 6.25 */
    position: absolute;
    top: 0;
    overflow: hidden;
  }
  
  .circle__wrapper--right {
    right: 0;
  }
  
  .circle__wrapper--left {
    left: 0;
  }
  
  .circle__whole {
    width: 5vh;       /* 5 */
    height: 5vh;      /* 5 */
    border: 0.625vh solid transparent;     /* 0.625 */
    border-radius: 50%;
    position: absolute;
    top: 0;
    transform: rotate(-135deg);
  }
  
  .circle__right {
    border-top: 0.625vh solid blue;        /* 0.625 */
    border-right: 0.625vh solid blue;      /* 0.625 */
    right: 0.03125vh;                             /* 0.03125 */
    animation: circleRight 0.5s linear forwards;
  }
  
  .circle__left {
    border-bottom: 0.625vh solid blue;     /* 0.625 */
    border-left: 0.625vh solid blue;       /* 0.625 */
    left: 0.03125vh;                              /* 0.03125 */
    animation: circleLeft 0.5s linear forwards;
  }
  
  @keyframes circleRight {
    0% {
      transform: rotate(-135deg);
    }
    50%,
    100% {
      transform: rotate(45deg);
    }
  }
  
  @keyframes circleLeft {
    0%,
    50% {
      transform: rotate(-135deg);
    }
    100% {
      -webkit-transform: rotate(45deg);
    }
  }






/* -----cross----- */

.line__box {
    width: 6.25vh;       /* 6.25 */
    height: 6.25vh;      /* 6.25 */
    /*margin: 1.5625vh auto;  /* 1.5625 */
    position: absolute;
  }


.line__wrapper {
    width: 6.25vh;       /* 3.125 */
    height: 6.25vh;      /* 6.25 */
    position: absolute;
    top: 0;
    overflow: hidden;
  }



.line-left {
    height:2px;
    width:0;
    margin-top: 6.25vh;    /*100px*/
    background:red;
    transform:rotate(-45deg);
    transform-origin:left;
    animation:grow 0.5s linear forwards;
  }

.line-right {
    position: relative;

    height:2px;
    width:0;
    margin-top: 6.25vh;    /*100px*/
    background:red;
    transform:rotate(45deg);
    transform-origin:right;
    animation:grow 0.5s linear forwards;
  }



  @keyframes grow{
    to {width:8.84vh;}
  }

